* {
    font-size: 12px;
    font-weight: 600;
    padding: 0;
}

window#waybar {
    color: #ffffff;
    background: transparent;
    background: alpha(#1c1c1c,.3);
    border-radius: 8px;
}

#window {
    padding-right: 100px;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.active {
    background-color: transparent;
    color: #88c0d0;
}

#workspaces button:hover {
    color: #1c1c1c;
    background-color: #282828;
}
