* {
        font-size: 10px;
        font-family: "Input";
        font-weight: 600;
        padding: 0;
        min-height: 0;
        min-width: 0;
}

.modules-left {
        background: #606060;
        padding-left: 0px;
        padding-right: 0px;
}
.modules-center {
        background: #606060;
        padding-left: 0px;
        padding-right: 0px;
}
.modules-right {
        background: #606060;
        padding-left: 0px;
        padding-right: 0px;
}

window#waybar {
        background: #606060;
        color: #ffffff;
/*        background: transparent;*/
}

#workspaces button {
/*        background: transparent;*/

        color: #ffffff;
}

#workspaces button.active {
        background-color: transparent;
        color: #88c0d0;
}
