* {
    font-size: 14px;
    font-family: "Iosevka Nerd Font Mono";
}

window#waybar {
    padding: 0;
    color: #ffffff;
    background: transparent;
}

#workspaces button {
    background-color: transparent;
    padding: 0 4px;
    border-radius: 8px;
    color: #ffffff;
}

#workspaces button.active {
    background-color: transparent;
    color: #606060;
}

#workspaces button:hover {
    color: #1c1c1c;
    background-color: #282828;
}

.modules-left {
    border-radius: 8px;
    padding: 5px;
    margin:8 0 0 8;
    background: alpha(#1c1c1c,.3);
}

.modules-center {
    border-radius: 8px;
    padding: 5px;
    margin:8 0 0 0;
    background: alpha(#1c1c1c,.3);
}

.modules-right {
    border-radius: 8px;
    padding: 5px;
    margin:8 8 0 0;
    background: alpha(#1c1c1c,.3);
}

#pulseaudio {
    background-color: transparent;
    padding: 0;
    border-radius: 0px;
    color: #ffffff;
}

#clock {
    background-color: transparent;
    padding: 0;
    border-radius: 0px;
    color: #ffffff;
}

#tray {
    background-color: transparent;
    padding: 0;
    border-radius: 0px;
    color: #ffffff;
}
