@import "./rose-pine.css";
        color: @text;

* {
        font-size: 14px;
        font-family: "Iosevka Nerd Font";
}

window#waybar {
        background-color: @base;
        margin-top: 0;
        padding: 0;
}

#workspaces button {
        background-color: transparent;
        padding: 0;
        color: @text;

        border-radius: 0px;
}

#workspaces button:hover {
        background: @text;
        color: @foam;
        box-shadow: inherit;
        text-shadow: inherit;
        border: transparent;
}

#workspaces button.active {
        color: @foam;
        background-color: transparent;
}

.modules-left {
        margin-top: 0;
        margin-left: 0;
}

.modules-right {
        margin-top: 0;
        margin-right: 5px;
}

#pulseaudio {
        color: @text;
        background-color: transparent;

        padding: 0;

        border-radius: 0px;
}

#clock {
        color: @text;
        background-color: transparent;

        padding: 0;

        border-radius: 0px;
}

#tray {
        color: @text;
        background-color: transparent;

        padding: 0;

        border-radius: 0px;
}
