* {
	font-size: 10px;
}

window#waybar {
	background-color: #1d2021;
    margin-top: 0;
    padding: 0;
}

#workspaces button {
	background-color: #1d2021;
    padding: 0;
	color: #ebdbb2;

	border-radius: 0px;
}

#workspaces button:hover {
	background: #ebdbb2;
	color: #1d2021;
	box-shadow: inherit;
	text-shadow: inherit;
	border: transparent;
}

#workspaces button.active {
	background-color: #ebdbb2;
	color: #1d2021;
}

.modules-left {
    margin-top: 0;
    margin-left: 0;
}

.modules-right {
    margin-top: 0;
    margin-right: 5px;
}

#pulseaudio {
	background-color: #1d2021;
	color: #ebdbb2;

    padding: 0;

	border-radius: 0px;
}

#clock {
	background-color: #1d2021;
	color: #ebdbb2;

    padding: 0;

	border-radius: 0px;
}

#tray {
	background-color: #1d2021;

    padding: 0;

	border-radius: 0px;
}
